body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

.main_section{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */
.main_content_section{
    padding: 20px 90px;
}

.main_content_titel{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}

/* About me section */
.about-me-saction{
    margin-bottom: 40px;
}

.about-me-profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}
.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin-bottom: 25px;
}
.about-me-description{
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* My projects section */
.my_projects_section{
    margin-bottom: 50px;
}
.my_git_title{
    font-weight: bold;
    font-size: 14px;
}

.my_projects_list{
    padding: 0 0 0 18;
}
.my_projects_item{
    color: #000;
    font-weight: bold;
}
.my_projects_link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my_projects_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}
.my_projects_brecket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}


/* My work experience */
.work_experience_company{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;    
}

.work_experience_position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-bottom: 10px;
}

.work_experience_period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #857272;
    margin-bottom: 10px;
}

.work_experience_duties{
    padding-left: 18px;
}

.work_experience_duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;

}

.my_work_experience_company_blocK{
    margin: 0 15px 0 0;
}

.work_experience_brecket{    
    color: #000;
}

/* My education */
.my_education_company{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.education_speciality{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 10px;
}

.my_education_period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;    
}

.my_education_brecket{
    color: #000;
}


/* Sidebar section */
.sidebar_section
{
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}

.contacts_section{
    margin: 50px 0 0 40px;
}
.tech_skills_section{
    margin: 50px 0 0 40px;
}
.soft_skills_section{
    margin: 50px 0 0 40px;
}

.sidebar_titel{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;

    color: #fff;
    margin-bottom: 10px;
}

/* Contacts section */
.contacts_section_type{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 5px;

}
.contacts_section_linc{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #9ba1a7;
}

/* Tech section */
.tech_skills_list{
    padding-left: 17px;
}

/* Soft section */
.soft_skills_list{
    padding-left: 17px;
}
.soft_skills_item,
.tech_skills_item{
    color: #FB6D3A;
}
.soft_skills_item_text,
.tech_skills_item_text{

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}